.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav nav nav nav nav nav"
      ". prof-pic prof-info prof-info prof-info ."
      ". posts posts posts posts hey";
    /* min-height:100vh; */
  }
  
  .nav {
    grid-area: nav; 
    background-color:rgb(76, 61, 154);
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    position:fixed;
    width:100%;
    right:0px;
    top:0px;
  }

  .nav a {
    text-decoration: none;
    color:white;
    padding: 30px 100px;
  }

  .nav a:hover {
    background-color:white;
    color:black;
  }
  
  .prof-info { 
    grid-area: prof-info; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
  }

  .prof-info h1 {
    align-self:center;
  }

  .contact-me ul, li {
    list-style: none;
    padding: 0px;
  }
  
  .posts { 
    grid-area: posts;
  }
  
  .prof-pic { 
    grid-area: prof-pic; 
    display:flex;
    align-items: center;
  }

  #profile-pic{
    width:100%;
    height:auto;
  }

  .post-card {
    border: 2px solid black;
    background-color:rgb(215, 250, 215);
    padding: 0 20px 10px 20px;
    margin: 0 0 20px 0;
  }
  
  .post-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .post-links a {
    background-color:white;
    color:black;
    text-decoration:none;
    font-weight: bold;
    padding:10px;
    margin: 10px 0 0 0;
    border-radius:5px;
  }

  .post-links a:hover {
    background-color:rgb(78, 78, 197);
    color:white;    
  }
