.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr 10vh;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "nav nav nav nav nav nav"
      ". prof-pic prof-info prof-info prof-info ."
      ". posts posts posts posts hey"
      "footer footer footer footer footer footer";
    min-height:100vh;
  }

  .container > div {
    border: 2px solid rgb(173, 96, 96);
  }
  
  .nav {
    grid-area: nav; 
    background-color:rgb(76, 61, 154);
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    position:fixed;
    width:100%;
    /* left:0px; */
    right:0px;
    top:0px;
  }

  .nav a {
    text-decoration: none;
    color:white;
    padding: 30px 100px;
  }

  .nav a:hover {
    background-color:white;
    color:black;
  }
  
  .footer { 
    grid-area: footer; 
  }
  
  .prof-info { 
    grid-area: prof-info; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
  }

  .prof-info h1 {
    align-self:center;
  }

  .contact-me ul, li {
    list-style: none;
    padding: 0px;
  }
  
  .posts { 
    grid-area: posts; 
  }
  
  .prof-pic { 
    grid-area: prof-pic; 
    display:flex;
    align-items: center;
  }

  #profile-pic{
    width:100%;
    height:auto;
  }

  .hey {
    grid-area: hey;
  }
  